.nav-link {
    color: var(--blue-950) ;
    font-size: 18px;
    margin-right: 25px;
  }
  .nav-link:hover{
    color: var(--blue-600);
  }
  .loginbutton{
    border-radius: 12px;
    width: 75px;
    border: 1px solid var(--red-400);
    background-color: var(--red-400);
    color: white;
  }
  .loginbutton:hover{
    background-color: var(--blue-600);
    border: 1px solid var(--red-600);
  }
  /* Add this to your navbar.css */
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between items */
  }

  .loginbutton {
    margin-top: 10px;
  }
}
